#logo{
    height: 40px;
    width: auto;
    margin-top: 4px;
    margin-right: 5px;
    padding: 0px;
}

#napis{
    color: #fff;
}

#background{
    background-image: url("../images/bg.png");
    position: fixed;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    z-index: 10;
}

#message{
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 11;
}

#EhrLogin{
    text-align: center;
    margin-top: 400px;
    width: 300px;
    height: 300px;
}

#EhrInput{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 40px;
    box-shadow: 0px 0px 8px #888888;
}

#logout{
    border-radius: 5px;
    background-color: #ff9999;
    color: black;
    width: 120px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 8px #888888;
}

.Centered{
    margin: auto;
}

.subscriptText{
    font-size: 0.8em;
}

.obvestilo{
    margin-top: 5px;
    display: block;
}


#selectBar {
    background-color: #222;
    height: 50px;
    width: 100%;
    color: white;
}

#selectUser {
    margin-left: 10px;
    margin-top: 14px;
    float: left;
}

.selector {
    color: black;
    max-width: 200px;
    float: left;
    margin-left: 15px;
    margin-top: 14px;
    height: 20px;
}

th {
    background-color: #222;
    color: white;
}
table {
    display: inline-block;
    float: left;
    border-collapse: collapse;
    width: 140px;
    border-color: #222;
    border-width: 2px;
    overflow: auto;
    max-height: 390px;
}

th, td {
    text-align: left;
    padding: 8px;
    width: 10%;
    border-bottom: 1px solid #ddd;
}

td {
    padding-left: 15px;
    cursor: pointer;
}

td:hover {
    background-color: #999;
}

tr{
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

donut, areamap{
    display: inline-block;
    float: left;
    margin-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bmiOpozorilo, #tlakOpozorilo {
    width: 200px;
}

#map {
    margin-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #222;
    border-width: 3px;
    width: 350px;
    height: 250px;
    background-color: #CCC;
    float: left;
    display: inline-block;
}

#mainContent{
    border-style: solid;
    border-radius: 10px;
    border-color: #222;
    border-width: 3px;
    width: 100%;
    min-height: 450px;
    height: auto;
    padding-bottom: 10px;
    background-color: #FFFDFD;
}

#instructions{
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #222;
    border-width: 3px;
    display: inline-block;
    float: left;
    width: 200px;
    height: 70px;
    text-align: left;
}

#devTable, #info{
    float: right;
    display: inline-block;
}

#devTable tr{
      float:right;
}

#info {
    width: 200px;
    padding: 5px;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #EEF;
    border-width: 3px;
}